@charset "UTF-8"; 
/* fallback 
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }  */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

html, body {
    background-color: #e1dfe6;
}

header {
    background-color: #3b52ff;        
}

header > h1 {
    text-align: center;    
    padding: 10px;
}

header a {
    color: white;
}

menu {
    display: none;
}

menu ul {
    list-style-type: none; /*Tira as bolinhas da lista*/
}

menu a { /*pode fazer menu > ul > li > a */
    display: block;
    padding: 10px;
    text-decoration: none; /*Tirar o Link*/
    text-align: center;
    background-color: #f5c34f;
    color: #160c0cb9;
    border-top: 2px solid black; 
    
}

menu a:hover {
    background-color: rgb(224, 233, 146);    
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article {
    background-color: white;
}

article > h2 {
    padding-bottom: 20px;    
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

#burguer { 
    background-color: #aca78b;   
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    text-align: left;    
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;         
    }

