@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { 
/*7ºpasso - Tablet*/
    body {
        background-image: linear-gradient(to top, #90be6d, #f9c64f81)
    }
    
    section#login {
        width: 60vw;
        height: 360px;
    }

    section#login > div#imagem{
        float: left; /*muda a imagem de posição para Tablet*/
        width: 40%;
        height: 360px; /*height: 100%; */
        background: #90be6d url('../imagens/diabetes.jpg') no-repeat;  
        background-position: center center;
        background-size: cover;     
    }

    section#login > div#formulario {
        float: right;
        width: 60%;           
    } 

    section#login > div#formulario h1 {        
        font-size: 1.9em;    
    }
    
    section#login > div#formulario p {        
        font-size: 1.1em;    
    }

    form > div.campo > input {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #90be6d, #f9c64f81)
    }
    
    section#login  {
        width: 700px; 
        height: 360px;
    }

    section#login > div#imagem {
        float: left;   
        width: 50%;
        height: 100%;
        background: #90be6d url('../imagens/diabetes4.jpg') no-repeat;  
        background-position: center center;
        background-size: cover; 
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }
    
    section#login > div#formulario h1 {        
        font-size: 2em;    
    }
    
    section#login > div#formulario p {        
        font-size: 1.1em;    
    }

    form > div.campo > input {
        font-size: 1.1em;
    }    
}