@charset "UTF-8";

body{
    background-image: url('imagens/wallpaper001.jpg')
}

div.quadrado {
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 10px;
    display:inline-block;
    width: 300px;
    height: 300px;    
}

div#q1 {
    background-color: skyblue;
}

div#q2 {
    background-image: linear-gradient(to bottom, yellow, orange 90%);   
}

div#q3{
    background-image: url('imagens/pattern003.png');    
}