@charset "UTF-8";
/*Display Flex trata das caixas dentro de outra caixa
Display Block vai ocupar toda a linha, fica em baixo
Display Inline ocupa o tamanho do espaço da caixa, fica lado a lado*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  /*Reset na medida na caixa do navegador*/  
}

body {
    font-size: 1.3em;    
}

a {
    text-decoration: none;     
}

img {
    width: 13vh;
}

.button {
    display : inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.6rem;
    background: blue;
    border-radius: 10px;
    color: white;
}


nav {
    display: flex; /*Para colocar os elementos um do lado do outro*/
    /* flex-direction: column - Mudar para coluna*/
    /*flex-direction: row-reverse; /* Invete a posição do Menu*/
    justify-content: space-between;/*space-between;/*Coloca um elemento no início e o outro elemento no final, com espaço entre eles (Caixas)*/
    align-items: center; /*main axis."Eixo Principal" para alinhar no centro dos elementos*/
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    height: 91px;    
    padding: 0 2.4rem /*24px*/
}

ul {
    display: flex;
    list-style: none; /* tiras as bolinhas*/
    gap: 3rem; /*cria espaço entre elementos,substitui o margim. 3rem é o mesmo que 30px*/  
    align-items: center;  
}

.button {
    width: 100%;
    height: 60%;
    
}

