@charset "UTF-8";
/*Todas as demais Mídias*/
/*Typical Device Breakpoints
---------------------------------------------------
@media only screen and (max-width: 600px) {...}
Pequenas Telas: até 600px de largura (medidas do W3C)

@media only screen and (min-width: 600px) {...}
Celular: vai de 600px até 768px

@media only screen and (min-width: 768px) {...}
Tablet: 768px até 992px

@media only screen and (min-width: 992px) {...}
Laptop e Desktop: 992px até 1200px

@media only screen and (min-width: 1200px) {...}
TV - Grandes Telas: Acima de 1200px
*/

/*Media Features*/
@media print {
    body {
        background-image: url('../imagens/back-print.jpg');        
    }

    #print {
        display: block;
    }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    body {
        background-image: url('../imagens/back-phone.jpg');        
    } 
    
    #phone {
        display: block;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    body {
        background-image: url('../imagens/back-tablet.jpg');        
    } 
    
    #tablet {
        display: block;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        background-image: url('../imagens/back-pc.jpg');        
    }

    #pc {
        display: block;
    }
}

@media screen and (min-width: 1201px)  {
    body {
        background-image: url('../imagens/back-tv.jpg');        
    }

    #tv {
        display: block;
    }
}