@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;    
}

body{
    background: url('../imagens/fundomadeira.jpg') no-repeat top center;
    background-size: cover; /*cobrir o tamano do frame*/
    background-attachment: fixed;   
}

main {
    position: relative;
    height: 100vh;
}

#telefone {
    background: url(../imagens/frame-iphone.png) no-repeat;  
    position: absolute;
    top: 56.5%;
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;          
} 

#tela {
    position: relative;    
    top: 80px;
    left: 22px; 
    width: 267px;
    height: 472px;  /*472*/     
} 

#rsociais {
    text-align: center;
}

#rsociais img {
    position:relative;    
    top: 18px; 
    left: 0px; 
    
    width: 47px; 
    margin: 0px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 40%);
    box-sizing: border-box;       
}

#rsociais img:hover {
    border: 2px solid #ffffffa2;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgb(0 0 0 / 62%);
    transition: transform .3s, border 1s;
}






